<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn role:require="ContentManagement or Standalone">
      <configurations>
        <configuration name="Foundation.PSPageSanitizer" 
                       description="Foundation PSPageSanitizer" 
                       dependencies="Foundation.Serialization"
                       extends="Helix.Base">
            <predicate>
                <include name="SanitizePageModule" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SPE/Maintenance/Page Cleanup" />
            </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
