<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn role:require="ContentManagement or Standalone">
      <configurations>
        <configuration name="Foundation.Serialization" 
                       description="Foundation Serialization" 
                       dependencies="Foundation.Serialization,Foundation.Scaffolding"
                       extends="Helix.Foundation">
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
